html {
    height: 100%;
    background-color: rgb(219, 219, 202);
    z-index: 0px;
}

body {
    height: 100%;
    padding-left: 30px;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 10px;
}

.webSite-title {
    font-family: "Courier New";
}

.body-container {
    margin-top: 70px;
    padding-bottom: 40px;
}

.lead-content {
    margin-left: 30px;
}

.topSite-list-wrapper {
    margin-top: 40px;
}


.topSite-list {
    color: rgba(104, 104, 101, 0.98);
    list-style: disc;
    margin-top: 20px;
}

.topSite-list-link {
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid;
}

.default-button {
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10px;
    transform: scale(1.2);
}

.back-to-top-link {
    color: rgb(125, 128, 222);
    font-size: 20px;
    text-decoration: none;
    border-bottom: 2px solid;
}

.user-related-link {
    color: rgb(125, 128, 222);
    font-size: 20px;
    text-decoration: none;
    border-bottom: 2px solid;
}

/* ログインフォーム用CSS */
.error-message-container {
    font-size: 20px;
}

.login-form-wrapper {
    height: 200px;
    display: flex;
}

.login-form-label {
    font-size: 25px;
}

.login-form-content {
    margin-top: 25px;
    transform: scale(1.2);
}

.content {
    margin-top: 16px;
    transform: scale(1.2);
}

.login-button {
    margin-left: 200px;
    transform: scale(1.4);
    border-radius: 10px;
}

.user-create-link-wrapper {
    margin-top: 20px;
    margin-left: 50px;
}

/* アカウント作成フォーム用CSS */
.user-create-form-wrapper {
    display: flex;
}

.user-create-label {
    font-size: 25px;
}

.user-create-content-wrapper {
    margin-top: 25px;
}

.user-create-content {
    transform: scale(1.2);
}

.user-create-button {
    margin-left: 200px;
    transform: scale(1.5);
    border-radius: 10px;
}

.login-form-link-wrapper {
    margin-top: 20px;
    margin-left: 50px;
}