html {
    height: 100%;
    background-color: rgb(219, 219, 202);
    z-index: 0px;
}

body {
    height: 100%;
    padding-left: 30px;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 10px;
}

::marker {
    font-size: 25px;
}

.webSite-title {
    font-size: 50px;
    font-family: "Courier New";
}

.body-container {
    margin-top: 70px;
    padding-bottom: 40px;
}

.lead-content {
    margin-left: 30px;
}

.topSite-list-wrapper {
    margin-top: 40px;
}

.topSite-list {
    color: rgba(66, 92, 156, 0.98);
    list-style: disc;
    margin-top: 25px;
}

.topSite-list-link {
    font-size: 25px;
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid;
}

.topSite-list-lead {
    font-weight: bold;
    font-size: medium;
    color: rgb(32, 38, 92);
}

.default-button {
    background-color: white;
    margin-top: 30px;
    margin-left: 45px;
    border-radius: 10px;
    transform: scale(1.5);
    transition: .3s;
}

.default-button:hover {
    background-color: rgb(213, 214, 215);
}


.back-to-top-link {
    color: rgb(125, 128, 222);
    font-size: 30px;
    text-decoration: none;
    border-bottom: 2px solid;
}

/* ログインフォーム用CSS */
.error-message-container {
    font-size: 20px;
}

.login-form-wrapper {
    height: 200px;
    display: flex;
}

.login-form-label {
    font-size: 25px;
}

.login-form-content {
    margin-top: 25px;
    transform: scale(1.2);
}

.content {
    margin-top: 16px;
    transform: scale(1.2);
}

.login-button {
    margin-left: 200px;
    transform: scale(1.4);
    border-radius: 10px;
}

.guestLogin-link-wrapper {
    margin-top: 20px;
    margin-left: 50px;
}

.guestLogin-link {
    color: rgb(125, 128, 222);
    font-size: 20px;
    text-decoration: none;
    border-bottom: 2px solid;
}

.user-create-link-wrapper {
    margin-top: 20px;
    margin-left: 50px;
}

.user-related-link {
    color: rgb(125, 128, 222);
    font-size: 20px;
    text-decoration: none;
    border-bottom: 2px solid;
}

/* アカウント作成フォーム用CSS */
.user-create-form-wrapper {
    display: flex;
}

.user-create-label {
    font-size: 25px;
}

.user-create-content-wrapper {
    margin-top: 25px;
}

.user-create-content {
    transform: scale(1.2);
}

.user-create-button {
    margin-left: 200px;
    transform: scale(1.5);
    border-radius: 10px;
}

.login-form-link-wrapper {
    margin-top: 20px;
    margin-left: 50px;
}

/* テクニック説明用CSS */
.technique-title-wrapper {
    margin-top: 55px;
}

.vocalization-title-wrapper {
    margin-top: 65px;
}

.category-container {
    margin-top: 30px;
}

.summary {
    margin-top: 40px;
    font-size: large;
    font-weight: bold;
}

/* 説明用CSS */
.usage {
    margin-bottom: 65px;
}

.usage-content {
    font-weight: bold;
}

.newSheet-image {
    width: 400px;
    height: 400px;
}

.sheetList-image {
    width: 200px;
    height: auto;
}

.edit-image {
    width: 700px;
    height: 200px;
}

.newSheet-image-wrapper {
    width: 400px;
    height: 400px;
    border: 1px solid;
    border-radius: 6px;
}

.sheetList-image-wrapper {
    width: 200px;
    height: auto;
}

.edit-image-wrapper {
    width: 700px;
    height: 200px;
}