html,
body {
    height: 100%;
}


.category-container {
    padding-bottom: 20px;
}

p {
    font-family: serif;
}

li {
    padding-right: 10px;
    user-select: none;
}

.header-container {
    margin-bottom: 5px;
    margin-top: 15px;
}

.header-button-wrapper {
    width: 90px;
    transform: scale(1, 2);
}

.header-button {
    text-decoration: none;
    color: inherit;
    border: 1px groove;
    border-radius: 5px;
    font-family: sans-serif;
}

.body-container {
    position: relative;
    display: flex;
    gap: 0px 10px;
    margin-top: 6px;
    z-index: 0px;
    height: 100%;
}

.main-container {
    width: 72%;
}

.main-form {
    height: 100%;
}

.title-wrapper {
    display: flex;
    gap: 1px 10px;
    height: 60px;
}

.title-form {
    width: 30%;
}

.title-content {
    font-size: 20px;
    height: 65%;
    width: 100%;
}

.editable {
    height: 70%;
    padding: 3px 2px;
    background-image: url(../storage/b067.gif);
    z-index: 0px;
}

.editable-area {
    font-size: 25px;
}

.editable-inner {
    letter-spacing: 2px;
    height: 30px;
    margin-top: 6px;
}

/* ツールバーstart */
.tool-bar {
    position: absolute;
    display: none;
    z-index: 30px;
}

.tool-bar-menu {
    display: inline-flex;
    z-index: 30px;
}

/* ツールバーend */

/* 編集曲リスト */

.edit-songs-container {
    border: 4px ridge;
    border-radius: 10px;
    width: 28%;
    overflow: scroll;
}

.edit-songs-wrapper {
    height: 150px;
    border-bottom: 4px ridge;
}

.edit-song {
    padding-left: 5px;
    height: 100%;
    overflow: hidden;
}

.song-button {
    text-decoration: none;
    color: inherit;
    height: 100%;
}

.song-label {
    display: flex;
}

.song-title {
    font-size: large;
    font-weight: bold;
}

.song-lyrics {
    padding-left: 20px;
}

.delete-button-wrapper {
    padding-top: 5px;
    padding-right: 5px;
    display: block;
    margin-left: auto;
}