html,
body {
    height: 100%;
}


.category-container {
    padding-bottom: 20px;
}

p {
    font-family: serif;
}

li {
    padding-right: 10px;
    user-select: none;
}

.header-container {
    /* もし余裕があればヘッダー固定する */
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%; */
    margin-bottom: 5px;
    margin-top: 15px;
}

.header-button-wrapper {
    height: 70%;
    width: 28%;
    display: flex;
    transform: scale(1, 1.5);
}

.top-button {
    text-decoration: none;
    color: inherit;
    border: 1px groove;
    border-radius: 5px;
    font-family: sans-serif;
}

.song-create-button {
    text-decoration: none;
    color: inherit;
    border: 1px groove;
    border-radius: 5px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: 5px;
    transform: scale(1.5, 0.9);
}

.body-container {
    position: relative;
    display: flex;
    gap: 0px 10px;
    margin-top: 6px;
    z-index: 0px;
    height: 100%;
}

.main-container {
    width: 72%;
}

.main-form {
    height: 100%;
}

.create-title-form {}

.title-form {
    width: 30%;
}

.create-title-wrapper {
    margin-bottom: 0px;
}

.edit-title-wrapper {
    display: flex;
    gap: 1px 10px;
    height: 60px;
}



.title-content {
    font-size: 20px;
    height: 65%;
    width: 100%;
}

.create-title-content {
    height: 50px;
    width: 40%;
    font-size: 25px;
}

.create-lyrics-wrapper {
    margin-bottom: 0px;
}

.create-lyrics-content {
    height: 50px;
    width: 40%;
    font-size: 25px;
}

.create-submit-button-wrapper {
    width: 40%;
}

.create-submit-button {
    margin: 40px;
    transform: scale(2);
}

.editable {
    height: 70%;
    padding: 3px 2px;
    background-image: url(../storage/b067.gif);
    z-index: 0px;
    font-size: 25px;
}

.editable-inner {
    letter-spacing: 2px;
    height: 30px;
    margin-top: 6px;
}

.tool-bar {
    position: absolute;
    display: none;
    z-index: 30px;
}

.tool-bar-menu {
    display: inline-flex;
    z-index: 30px;
}

.edit-songs-container {
    border: 4px ridge;
    border-radius: 10px;
    width: 28%;
    overflow: scroll;
}

.edit-songs-wrapper {
    height: 150px;
    border-bottom: 4px ridge;
}

.edit-song {
    padding-left: 5px;
    height: 100%;
    overflow: hidden;
}

.song-button {
    text-decoration: none;
    color: inherit;
    height: 100%;
}

.song-label {
    display: flex;
}

.song-title {
    font-size: large;
    font-weight: bold;
}

.song-lyrics {
    padding-left: 20px;
}

.delete-button-wrapper {
    padding-top: 5px;
    padding-right: 5px;
    display: block;
    margin-left: auto;
}